<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Malcolm Jones" />
	<meta name="description" content="Given .bib and .bbl files, this tool finds the bib items you cited and removes the rest, tidying your .bib file." />
	<meta name="robots" content="unavailable_after: 2024-12-31">
	<meta property="og:site_name" content="yescite"/>
	<meta property="og:description" content="Given .bib and .bbl files, this tool finds the bib items you cited and removes the rest, tidying your .bib file."/>
	<meta property="og:type" content="website"/>
	<meta property="og:locale" content="en"/>

	<title>yescite &mdash; remove unused entries from your .bib</title>
	<meta property="og:title" content="yescite &mdash; the intersection of .bib and .bbl"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

  <style>
    .inline-block {
      display: inline-block;
    }
    .inline-block p{
      float: left;
    }
    #badge {
      border-left:10px solid transparent;
    }
    textarea {
      width: 100%;
      resize: none;
    }
    .parent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  
</head>
<body>

  <div class="header">yescite &mdash; remove unused entries from your .bib</div>
  
	<div class="menu">
		<ul id="profiles">
			<li><a href="https://malcolmjones.me/" rel="noopener" target="_blank">Personal Homepage</a></li>
		</ul>
	</div>

	<div class="menu">
		<ul id="profiles">
			<li><a href="#background">Background</a></li>
      <li><a href="#tool">Jump to Tool</a></li>
		</ul>
	</div>

  <div class="main">

    <h2 id="background">Background</h2>

    <p><b>Purpose</b>: This tool removes unused items from a .bib file.</p>

    <p><b>Requirement</b>: You have a .bbl file containing only used entries (e.g. automatically produced by <a href="https://www.bibtex.org/Using/">BibTeX</a>).</p>

    <p><b>More precisely</b>: Given .bib and .bbl files, this tool returns a reduced version of the .bib, the <i>yescite</i>, containing entries from .bib only if they occur in the .bbl.</p>

    <b>Notes</b>:
    <ul>
      <li>The <i>yescite</i> (reduced .bib file) preserves the entries of the .bib file that it keeps. This is advantageous compared to bibliography managers that modify your entries.</li>
      <li>The .bbl file is hidden for some editors. For example, in Overleaf, click &#x0022;Logs and output files&#x0022;, scroll down, click &#x0022;Other logs and files&#x0022;, click to download &#x0022;output.bbl&#x0022;. If there is no .bbl file, try recompiling.</li>
      <li>Please create an issue on <a href="https://github.com/malcolm-jones/yescite">GitHub</a> if you find problems.</li>
    </ul>
    <p><b>Motivation</b>: The .bib file for a project had become very large over time. I no longer cited many entries. Using <i>\nocite{*}</i> would show which entries I no longer cited, but there would still have been a lot of manual labour looking them up in the .bib and deleting them. Hence, <i>yescite</i> was intended to automatically find which entries I <i>did</i> cite, instead of those I did not.</p>

    <h2 id="tool">Tidy my .bib</h2>

    <form method="post" autocomplete="off">
        <textarea placeholder="Copy .bbl here..." id="input_bbl" name="input_bbl" rows="8">{{ input_bbl }}</textarea><br><br>
        <textarea placeholder="Copy .bib here..." id="input_bib" name="input_bib" rows="8">{{ input_bib }}</textarea><br><br>
        <input type="submit" value="Tidy .bib"/>
    </form><br>
    <textarea placeholder="Tidied .bib will appear here." id="output_yescite" rows="8">{{ output_yescite }}</textarea><br>
    <p>The tidied .bib includes:<br>{{ output_aliases_used }}<br>and excludes:<br>{{ output_aliases_unused }}.</p>
    
    <div class="parent">
      <div class="inline-block">
        <p id="badge">
          <a href="https://github.com/malcolm-jones/yescite"><i class="fab fa-github" style='font-size:40px'></i></a>
        </p>
        <p id="badge">
          <a href="https://www.buymeacoffee.com/malcolmjones"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" height="40px"></a>
        </p>
      </div>
    </div>

  </div>
    
	<div id="footer">
		<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://malcolmjones.me">This website</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://malcolmjones.me">Malcolm Jones</a> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>
	</div>	

</body>
</html>
