* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-size: 100%;
	/* font-family: 'Courier New', monospace; */
    /* font-family: OpenDyslexic; */
	font-family: 'Garamond'
}

:root {
	--color-primary: #000000; 
	--color-secondary: #789600; 
	--my-max-width: 800px;
}

.header {
	max-width: fit-content;
	margin-inline: auto;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	padding: 10px;
	font-size:200%;
}

.menu {
	width: 100%;
	float: left;
	padding: 10px;
}

.main {
	width: 100%;
	float: left;
	padding: 10px;
}

.banner {
	width: 100%;
	height: auto;
	padding-left: 10px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 0px solid black;
	margin: 0;
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

.card {
	width: 100%;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	margin: 0;
}

/* container */
.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
    padding:1rem;
}

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
	margin:20px auto;
	max-width:var(--my-max-width);
	padding-left:5px;
	padding-right:5px;
}

h1, h2, h3, h4, p { margin:0.75em 0;}

h1 {font-size:180%;}

h2 {font-size:160%;}

h3 {font-size:140%;}

h4 {font-size:120%;}

ul {
	padding-left: 0px;
}

ul ul {
	padding-left: 20px;
}

li, dd { 
	margin-left:2em;
}

a {
	color: var(--color-primary);
	background-color: var(--color-secondary);
	text-decoration: underline;
	outline:none;
}

a:hover {
	text-decoration: none;
}

.youtube-video-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.youtube-video-container::after {
	display: block;
	content: "";
	padding-top: 56.25%;
}

.youtube-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	max-width: 80%;
	height: auto;
}

img#body {
	border: 1px solid var(--color-primary);
}

.container {
	text-align: center;
}

.caption {
	font-size: 80%;
	color: var(--color-primary);
	margin-top: 10px;
}

#maincontent {
	font-size:100%;
	padding:0px 5px 5px 0px;
	margin:10px 0px 10px 0px;
	max-width:var(--my-max-width);
	float:left;
}

/* Navigation */

ul{
	display: table;
    width:100%;
}

/* Links to profiles on research page */

ul#nav {
	clear:both;
	float:left;
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: var(--my-max-width);
}

ul#nav li {
	margin: 0;
	padding: 0;
	float: left;
	width:100%;
	text-align: center;
}

ul#nav li a {
	display: block;
	/* font-size: small; */
	color: var(--color-primary);
	text-decoration: none;
	background: var(--color-secondary);
	padding: 2px 0px 2px 0px;
}

ul#nav li a:hover { background: var(--color-primary); color: var(--color-secondary); }
ul#nav a.selected:link { background: var(--color-secondary); color: var(--color-primary); }
ul#nav a.selected:visited { background: var(--color-primary); color: var(--color-secondary); }

#footer {
	color: var(--color-primary);
	border-top:1px solid var(--color-secondary);
	line-height:1.5em;
	max-width: var(--my-max-width);
	clear:both;
    margin: 0 auto;
    text-align: center;
}

#copyright {
	color: var(--color-primary);
	background-color:var(--color-secondary);
	padding:5px 20px 5px 0px;
	float:left;
}

details {
	user-select: text;
	border: 1px solid var(--color-primary);
	padding: 5px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Copy to clipboard buttons */

.copy {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;
	border: none;
	outline: none;
	cursor: pointer;
	margin: auto;
}

.copy:active {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}
